.Header {
    
    padding: 1rem 0;
    margin-bottom: 1rem;

    &_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    &_logo {
        font-weight: 700;
    }
}